body{
    background-color: #161925;
}

/* Title Bar */
#title-bar { 
    -webkit-app-region: drag; 
    background-color: transparent;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons */
#file-btn { 
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}

#buttons {
    -webkit-app-region: no-drag;
    display: flex;
}

#buttons img {
    width: 12px;
    height: auto;
    cursor: pointer;
    transition: fill 0.3s, color 0.3s;
    fill: #ff00d9;
}

/* #gray-btns:hover {
    background-color: #88888844;
    opacity: 0.9;
} */

#close-btn {
    -webkit-app-region: no-drag;
}

#close-btn img {
    width: 36px;
    height: auto;
    cursor: pointer;
}

#gray-hover {
    width: 36px;
    height: 36px;
}

#gray-hover:hover {
    background-color: #88888844;
    opacity: 0.9;
}

#red-hover {
    width: 36px;
    height: 36px;
}

#red-hover:hover {
    background-color: red;
    opacity: 0.9;
}

/* MAIN TEXT AREA AND FILE EXPLORER*/

#Main-Container {
    display: flex;
}

#file-area{
    width: 200px;
    border:1px solid lightblue;
}

#text-area{
    flex: 1;
    /* Grow to rest of container */
    border:1px solid lightgreen;
}

#Text-Field{
    width: 85vw;
    height: 93vh;
    color: white;
    font-weight: bold;
    background-color:#161925;
    border: 1px solid #371D33;
    border-bottom: none;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 2px;
    overflow: hidden;
      
}

#File-Holder {
    transform: translateY(-85.5vh);
    width: 10vw;
    height: 85vh;
    border: 1px solid #371D33;
}


/* SCROLL BAR */
::-webkit-scrollbar {
    width: 12px;  /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px;    /* Rounded corners of the scrollbar thumb */
    border: 3px solid #f1f1f1; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb when hovered */
    cursor: default;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners of the scrollbar track */
    box-shadow: inset 0 0 5px grey; /* Inner shadow on the scrollbar track */
}
