body{
    background-color: #1A151D;
}


#Text-Field{
    display: inline-flex;
    margin-top: 10vh;
    width: 80vw;
    height: 85vh;
    color: white;
    font-weight: bold;
    background-color:#1A151D;
    border: 1px solid #755986;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 2px;
}