body{
    background-color: #1A151D;
}

/* Title Bar */
#title-bar { 
    -webkit-app-region: drag; 
    background-color: #0f0018;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Buttons */
#buttons { 
    -webkit-app-region: no-drag;
}

button {
    margin-left: 10px;
}

#Text-Field{
    display: inline-flex;
    margin-top: 10vh;
    width: 80vw;
    height: 85vh;
    color: white;
    font-weight: bold;
    background-color:#1A151D;
    border: 1px solid #755986;
    outline: none;
    resize: none;
    padding-left: 20px;
    padding-right: 10px;
    letter-spacing: 2px;
}